
    body{
      font-family: "Lato" 
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato" 
}
  
#navbar_superior{
    background-color: #252424 !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0,0,0,.015), 0 1px 10px 0 rgba(0,0,0,.1);
  }

  #navbar_superior .navbar-brand:before{
        content: none;
    }

  #btn_superior_hamburguesa{
    color: #747779 !important;
  }

  #menu_lateral .navdrawer-content{
    background-color: #f00;
    color: #fff;
  }

  #menu_lateral{
    z-index: 9999999;
  }
  
  #menu_lateral .navdrawer-nav .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  #menu_lateral .navdrawer-nav .nav-link:hover {
    background-color: #0d4c82;
  }

  #menu_lateral .navdrawer-header {
    background-color: #252424;
    padding: 20px 15px;
  }

  #menu_lateral .navdrawer-header p{
    color: #fff;
    padding-top: 4px;
    margin-bottom: 0;
  }

  #menu_lateral .navdrawer-nav a{
    font-size: 14px;
  }

  #menu_lateral .navdrawer-nav a.nav-link img{
    opacity: 1;
    margin-right: 10px;
    width: 22px;
    height: 22px;
  }

  #menu_lateral_div_seguinos{
    margin-top: 27px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 27px;
  }

  #menu_lateral_div_seguinos p{
    color: #fff;font-size: 14px
  }

  #menu_lateral_div_contenedor{
    text-align: center;
  }

  #menu_lateral_div_contenedor div{
    padding-left: 10px;padding-right: 10px;display: inline-block;
  }

  #menu_lateral_div_contenedor img {
    opacity: 1 !important;
    margin-right: 0px;
    height: 20px;
  }
  #accion_volver img{
    width: 20px;
  }

  #bottom_nav {
    height: 50px;
    width: 100%;
    background-color: #c80203 !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0 -1px #00aeef!important;
            box-shadow: 0 -1px #00aeef!important;
    -webkit-transition: .2s bottom;
    transition: .2s bottom;
  }
  
  #bottom_nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 33.333%;
    color: #b9babc;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
  }
  
  #bottom_nav a img {
    /* width: 32px; */
    height: 24px;
    margin-bottom: 0px;
  }
/*   
  #bottom_nav a:nth-child(2) {
    -webkit-box-shadow: 1px 0 #393939 !important, -1px 0 #393939 !important;
    box-shadow: 1px 0 #393939!important, -1px 0 #393939 !important;
  } */
  
  #bottom_nav a:hover {
    background-color: #fff !important;
  }
  
  #bottom_nav.hiding {
    bottom: -61px;
  }

  #contenedor_view{
    height: calc(100vh - 80px);
    overflow-y: scroll;
    padding-bottom: 40px;
  }

  #pantalla_splash.visible-noanimation {
    -webkit-transition: 0s opacity, 0s -webkit-transform;
    transition: 0s opacity, 0s -webkit-transform;
    transition: 0s opacity, 0s transform;
    transition: 0s opacity, 0s transform, 0s -webkit-transform;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    pointer-events: auto;
  }
  
  #pantalla_splash.visible {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    pointer-events: auto;
  }
  
  #pantalla_splash {
    position: fixed;
    background: #e9eaeb;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #8995a5;
    pointer-events: none;
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    z-index: 2000;
    -webkit-transition: 0.3s opacity, 0.3s -webkit-transform;
    transition: 0.3s opacity, 0.3s -webkit-transform;
    transition: 0.3s opacity, 0.3s transform;
    transition: 0.3s opacity, 0.3s transform, 0.3s -webkit-transform;
    max-height: 100vh;
    height: 100vh;
  }

  /* FORMULARIOS */

  label {
    color: #4f85b3 !important;
    font-size: 14px !important;
  }

  .custom-select, .form-control, .form-control-file {
    background-clip: padding-box;
    background-color: transparent;
    border: solid #00aeef;
    border-radius: 7px;
    border-width: 1px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    color: rgba(0,0,0,.87);
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: .375rem 0 calc(.375rem - 1px);
    width: 100%;
}

.custom-select:focus, .form-control-file:focus, .form-control:focus {
  border-color: #4f85b3;
  box-shadow: inset 0 -2px 0 -1px #4f85b3;
  outline: 0;
}

.custom-select:focus[multiple], .custom-select:focus[size]:not([size="1"]), select.form-control:focus[multiple], select.form-control:focus[size]:not([size="1"]), textarea.form-control:focus:not([rows="1"]) {
  box-shadow: inset 2px 2px 0 -1px #4f85b3, inset -2px -2px 0 -1px #4f85b3;
}

.btn-submit{
  background-color: #4dc6f4;
}

.title-view{
  color: #c80203;
  font-size: 26px;
  font-weight: bold;
}

.body-pantalla-roja{
  color: #707070;
}

.body-pantalla-roja p{
  font-size: 16px;
}

.body-pantalla-roja .title-view{
  color: #707070;
  font-size: 26px;
  font-weight: bold;
}

.body-pantalla-roja input{
  height: 49px;text-indent: 10px;
}

.body-pantalla-roja .custom-select, .body-pantalla-roja .form-control, .body-pantalla-roja .form-control-file {
  background-clip: padding-box;
  background-color: transparent;
  border: solid #ef3f4a;
  border-radius: 7px;
  border-width: 1px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  color: rgba(0,0,0,.87);
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem 0 calc(.375rem - 1px);
  width: 100%;
}


.form-rojo label {
  color: #ef3f4a !important;
  font-size: 14px !important;
}

.form-rojo .btn-submit{
  background-color: #ef3f4a;
}


.spinner{
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  /* animation: spinnerout .5s; */
  opacity: 0;
  transform: scale(.8);
  pointer-events: none;

}
.spinner.active{
  animation: spinnerin .5s forwards;
  pointer-events: auto;
}
.spinner.hiding{
  animation: spinnerout .5s forwards;
}
.spinner img{
  width: 45px;
  margin-bottom: 10px;
}
@keyframes spinnerin{
  from{
    opacity: 0;
    transform: scale(.8);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes spinnerout{
  from{
    opacity: 1;
    transform: scale(1);
  }
  to{
    opacity: 0;
    transform: scale(.8);
  }
}


/* home */

.carta-home{
  /* min-height: 120px; */
  border-color: #c80203;
  border-radius: 8px;
  padding: 3px 10px 3px 3px;
}

.carta-home .card-body{
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carta-home .img_carta_home{
  height: 90px;
  width: 90px;
  object-fit: cover;
  object-position: center;
  border-radius: 3px;
  margin-right: 15px;
}

.carta-home .card-title{
  font-size: 23px;
  color: #96989B;
  margin: 0;
  flex-grow: 1;
  font-weight: 600;
}

.carta-home .img_flecha_seccion{
  width: 17px;
  height: 24px;
  transform: rotate(180deg);
}
@media(max-width: 400px){
  .carta-home .card-title{
    font-size: 17px;
  }
}




/* faq */
#contenedor_preguntas_frecuentes article{
  margin-bottom: 15px;
}
#contenedor_preguntas_frecuentes .btn-link{
  width: 100%;
  padding: 0;
  
  text-align: left;
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
  color: #00aeef;
  padding: 10px 0;
}
#contenedor_preguntas_frecuentes .card-body{
  color: #6d7473;
  font-size: 15px;
  padding: 0 0 0 21px;
}
#contenedor_preguntas_frecuentes .btn-link img{
  width: 13px;
  margin-top: -2px;
  margin-right: 5px;
  transition: .3s transform
}
#contenedor_preguntas_frecuentes .btn-link[aria-expanded="true"] img{
  transform: rotate(225deg)
}